<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container">
		<a class="navbar-brand logo-font" href="#">
			Brand
		</a>
		<!-- links toggle -->
		<button (click)="toggleNavbar()" class="navbar-toggler order-first" type="button" data-toggle="collapse" data-target="#links" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="links" [ngClass]="{ 'show': navbarOpen }">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="#">Link 1</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Link 2</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Link 3</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Link 4</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Link 5</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Other
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">Dropdown 1</a>
                      <a class="dropdown-item" href="#">Dropdown 2</a>
                      <a class="dropdown-item" href="#">Dropdown 3</a>
                  </div>
              </li>
          </ul>
      </div>
      <app-login-name-container class="order-last"></app-login-name-container>
    <app-language-switcher class="order-last"></app-language-switcher>
  </div>
</nav>