<!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->

<ng-template #contenta let-modal>

</ng-template>
<button class="btn btn-primary" (click)="animate.OpenPopup(contenta)">Open</button>

<div class="card-group">
  <!-- <div class="card text-white bg-dark">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text"></p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div> -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-center">Login</h5>

<form [formGroup]="formSignin"  (ngSubmit)="onSubmit()">
  
   <div class="form-group">
          <label>Email <span class="fa fa-home" placement="right" ngbTooltip="e.g. abc@abc.com"></span> </label>
        <input id="userNameId" class="form-control"  formControlName="UserName" inputValid [IsSubmitting]="Submitting"/>
         <validation-error class="invalid-feedback" [ctrl]="f.UserName"  [IsSubmitting]="Submitting" [reqErrMsg]="'Test Required'"></validation-error>
        </div>

        <div class="form-group">
          <label>Password <span class="fa fa-home" placement="right" ngbTooltip="e.g. abc@abc.com"></span> </label>
        <input id="Password" class="form-control"  formControlName="Password" inputValid [IsSubmitting]="Submitting"/>
         <validation-error class="invalid-feedback" [ctrl]="f.Password"  [IsSubmitting]="Submitting" [reqErrMsg]="'Password Required'"></validation-error>
        </div>

        <div class="form-group">
 <div class="custom-control custom-checkbox">
  <input type="checkbox" formControlName="RememberMe" class="custom-control-input" id="customCheck1">
  <label class="custom-control-label" for="customCheck1">Remember me</label>
</div>
</div>
<!-- [disabled]="!formSignin.valid" -->
  <button class="btn btn-primary "    type="submit">Submit</button>

</form>


        <!-- <div class="form-group has-float-label">
          <label for="formGroupExampleInput">Email <span class="fa fa-home" placement="right" ngbTooltip="Tooltip on top"></span> </label>
        <input class="form-control" type="text" [formControl]="name">
  
  Value: {{ name.value }}
  
          <small id="passwordHelpBlock" class="form-text text-muted">
        Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
      </small>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Another label</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
        </div> -->
     
    </div>
  </div>

</div>