<div class="card">
	<div class="card-body">
		<h5 class="card-title text-center">OTP</h5>
		<form [formGroup]="formOTP" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label>Enter OTP</label>
        <input id="userotpId" class="form-control"  formControlName="UserOTP" inputValid [IsSubmitting]="Submitting"/>
         <validation-error class="invalid-feedback" [ctrl]="ctrl.UserOTP"  [IsSubmitting]="Submitting" [reqErrMsg]="'Test Required'"></validation-error>
        </div>
<!-- [disabled]="!formSignin.valid" -->
  <button class="btn btn-primary "    type="submit">Submit</button>

</form>


     
    </div>
  </div>